/* ----
// Imports Fonts
------- */

@font-face {
  font-family: 'FuturaMaxiCGBoldRegular';
  src: url('../fonts/FuturaMaxiCGBoldRegular.otf') format('Opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ----
// Fonts Styles
------- */

.ft-navHeader {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 18px;
  font-weight: normal;
  color: $black;
}
.ft-topTitle {
  font-family: 'Karla-Regular';
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
}
.ft-h1 {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 52px;
  font-weight: normal;
  text-align: center;
  line-height: 72px;
  color: $black;
  @include mobile-only {
    font-size: 32px;
  }
}
.ft-white {
  color: $white;
}
