/* ----
// Imports Fonts
------- */

@font-face {
  font-family: 'FuturaMaxiCGBoldRegular';
  src: url('../fonts/FuturaMaxiCGBoldRegular.otf') format('Opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('../fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ----
// Fonts Styles
------- */
.ft-h1 {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 52px;
  font-weight: normal;
  text-align: center;
  line-height: 72px;
  color: $black;
  @include mobile-only {
    font-size: 32px;
  }
}
.ft-navHeader {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 18px;
  font-weight: normal;
  color: $black;
}
.ft-topTitle {
  font-family: 'Karla-Regular';
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  @include mobile-only {
    font-size: 18px;
  }
  &.ft-white {
    color: $white;
  }
}
.ft-slideTopTitle {
  font-family: 'Karla-Regular';
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  @include mobile-only {
    font-size: 14px;
  }
}
.ft-slideTxt {
  font-family: 'Karla-Regular';
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 28px;
  color: $black;
  @include mobile-only {
    font-size: 14px;
  }
}
.ft-link {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 20px;
  font-weight: normal;
  color: $black;
}
.ft-txtInfinite {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 26px;
  font-weight: normal;
  color: $white;
  @include mobile-only {
    font-size: 20px;
  }
}
