/* ----
// Imports
------- */
@import 'color';
@import 'font';
@import 'responsive';
@import 'transition';


/* ----
// Main
------- */
a {
  text-decoration: none;
}


/* ----
// Header
------- */
header.container {
  max-width: 90%;
  .row {
    position: relative;
    padding: 10px 0;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 0;
    width: 200px;
  }
  @include mobile-only {
    nav {
      display: none;
    }
  }
  ul {
    list-style: none;
    li {
      margin: 0 30px;
      padding: 18px 0;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      position: relative;
      color: $black;
      &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: $yellow;
        transition: width $duration $easing;
      }
      &:hover {
        color: $yellow;
        &::after {
          width: 100%;
        }
      }
    }
  }
}


/* ----
// Responsive design
------- */
//@media 880
