/* ----
// Imports
------- */
@import 'colors';
@import 'fonts';


/* ----
// Settings
------- */
$duration : 200ms;
$durationTrans : 600ms;
$easing : ease-in-out;


/* ----
// Main
------- */



/* ----
// Transition
------- */



/* ----
// Header
------- */
