/* ----
// Imports
------- */
@import 'responsive';
@import 'color';
@import 'font';
@import 'transition';


/* ----
// Main
------- */
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.underline-word {
  background-image: url(../img/underline-word.png);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: 100%;
  padding-bottom: 10px;
}
.underline-link {
  background-image: url(../img/underline-link.png);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: 100%;
  padding: 0 6px 10px 6px;
}


/* ----
// Header
------- */
$headerMinHeight: 108px;
.header {
  max-width: 90%;
  min-height: $headerMinHeight;
}
.header__content {
  position: relative;
  padding: 10px 0;
}
.header__logo {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 0;
  width: 200px;
}
.header__nav {
  @include mobile-only {
    display: none;
  }
  ul {
    list-style: none;
  }
  li {
    margin: 0 30px;
    padding: 18px 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
.header__navLink {
  position: relative;
  color: $black;
  transition: color $duration $easing;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $yellow;
    transition: width $duration $easing;
  }
  &:hover {
    color: $yellow;
    &::after {
      width: 100%;
    }
  }
}


/* ----
// Banner
------- */
$bannerHeight: 640px;
$bannerHeightMobile: 470px;
.banner {
  position: relative;
  max-width: 100%;
  height: $bannerHeight;
  @include mobile-only {
    height: $bannerHeightMobile;
  }
}
.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 780px;
  width: 90%;
  margin: -$headerMinHeight/2 auto 0 auto;
  transform: translate(-50%,-50%);
}
.banner__topTitle {
  margin: 0 0 30px 0;
}
.banner__h1 {
  margin: 0;
}


/* ----
// Portfolio
------- */
.portfolio {
  padding: 110px 0;
  background-color: $black;
}
.portfolio__content {
  max-width: 100%;
}
.portfolio__topTitle {
  margin: 10px 0 40px 0;
}
.portfolio__clientsList {
  max-width: 70%;
  @include mobile-only {
    max-width: 90%;
  }
}
.portfolio__client {
  margin: 10px 0;
}
.portfolio__clientImg {
  width: 100%;
}


/* ----
// Slider
------- */
.slider {
  position: relative;
  &:hover {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
.swiper-container {
  width: 100%;
  @include mobile-only {
    height: 500px;
  }
}
.swiper-slide {
  width: 90%;
  @include mobile-only {
    width: 92%;
  }
}
.slider__img {
  display: block;
  width: 100%;
  height: auto;
  @include mobile-only {
    width: auto;
    height: 100%;
  }
}
.slider__content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 400px;
  width: 35%;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: $white;
  @include tablette-only {
    width: 50%;
  }
  @include mobile-only {
    width: 80%
  }
}
.slider__content--topTitle {
  margin: 0 0 40px 0;
}
.slider__content--wrapLogo {
  width: 50%;
  margin:  0 0 20px 0;
  > img {
    display: block;
    width: 100%;
  }
}
.slider__content--txt {
  margin: 0 0 40px 0;
}
.slider__content--link {
  margin: 0 0 20px 0;
  &:hover {
    font-style: italic;
  }
}
.swiper-button-next {
  right: 14%;
  transform: translateX(50%);
  color: $black;
  transition: color $duration $easing;
  &:hover {
    color: $yellow;
  }
  &:after {
    font-size: 24px;
    font-weight: 600;
  }
  @include mobile-only {
    right: 12%;
  }
}


/* ----
// Text infinite
------- */
.txtInfinite {
  background-color: $yellow;
  overflow: hidden;
}
.txtInfinite__content {
  margin: 0;
  padding: 40px 0;
  white-space: nowrap;
  animation: txtInfinite 10s linear infinite;
  @include mobile-only {
    padding: 30px 0;
  }
}
.txtInfinite__separate {
  margin: 0 14px;
}
