/* ----
// Imports
------- */
/* ----
// Responsive settings
------- */
/* ----
// Colors settings
------- */
/* ----
// Imports Fonts
------- */
@font-face {
  font-family: 'FuturaMaxiCGBoldRegular';
  src: url("../fonts/FuturaMaxiCGBoldRegular.otf") format("Opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Karla-Regular';
  src: url("../fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ----
// Fonts Styles
------- */
.ft-h1 {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 52px;
  font-weight: normal;
  text-align: center;
  line-height: 72px;
  color: #000; }
  @media screen and (max-width: 880px) {
    .ft-h1 {
      font-size: 32px; } }

.ft-navHeader {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 18px;
  font-weight: normal;
  color: #000; }

.ft-topTitle {
  font-family: 'Karla-Regular';
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000; }
  @media screen and (max-width: 880px) {
    .ft-topTitle {
      font-size: 18px; } }
  .ft-topTitle.ft-white {
    color: #fff; }

.ft-slideTopTitle {
  font-family: 'Karla-Regular';
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000; }
  @media screen and (max-width: 880px) {
    .ft-slideTopTitle {
      font-size: 14px; } }

.ft-slideTxt {
  font-family: 'Karla-Regular';
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 28px;
  color: #000; }
  @media screen and (max-width: 880px) {
    .ft-slideTxt {
      font-size: 14px; } }

.ft-link {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 20px;
  font-weight: normal;
  color: #000; }

.ft-txtInfinite {
  font-family: 'FuturaMaxiCGBoldRegular';
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff; }
  @media screen and (max-width: 880px) {
    .ft-txtInfinite {
      font-size: 20px; } }

/* ----
// Transition settings
------- */
@keyframes txtInfinite {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

/* ----
// Main
------- */
html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.underline-word {
  background-image: url(../img/underline-word.png);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: 100%;
  padding-bottom: 10px; }

.underline-link {
  background-image: url(../img/underline-link.png);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: 100%;
  padding: 0 6px 10px 6px; }

/* ----
// Header
------- */
.header {
  max-width: 90%;
  min-height: 108px; }

.header__content {
  position: relative;
  padding: 10px 0; }

.header__logo {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 0;
  width: 200px; }

@media screen and (max-width: 880px) {
  .header__nav {
    display: none; } }

.header__nav ul {
  list-style: none; }

.header__nav li {
  margin: 0 30px;
  padding: 18px 0; }
  .header__nav li:last-child {
    margin-right: 0; }

.header__navLink {
  position: relative;
  color: #000;
  transition: color 200ms ease-in-out; }
  .header__navLink::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ffcd1a;
    transition: width 200ms ease-in-out; }
  .header__navLink:hover {
    color: #ffcd1a; }
    .header__navLink:hover::after {
      width: 100%; }

/* ----
// Banner
------- */
.banner {
  position: relative;
  max-width: 100%;
  height: 640px; }
  @media screen and (max-width: 880px) {
    .banner {
      height: 470px; } }

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 780px;
  width: 90%;
  margin: -54px auto 0 auto;
  transform: translate(-50%, -50%); }

.banner__topTitle {
  margin: 0 0 30px 0; }

.banner__h1 {
  margin: 0; }

/* ----
// Portfolio
------- */
.portfolio {
  padding: 110px 0;
  background-color: #000; }

.portfolio__content {
  max-width: 100%; }

.portfolio__topTitle {
  margin: 10px 0 40px 0; }

.portfolio__clientsList {
  max-width: 70%; }
  @media screen and (max-width: 880px) {
    .portfolio__clientsList {
      max-width: 90%; } }

.portfolio__client {
  margin: 10px 0; }

.portfolio__clientImg {
  width: 100%; }

/* ----
// Slider
------- */
.slider {
  position: relative; }
  .slider:hover {
    cursor: grab; }
    .slider:hover:active {
      cursor: grabbing; }

.swiper-container {
  width: 100%; }
  @media screen and (max-width: 880px) {
    .swiper-container {
      height: 500px; } }

.swiper-slide {
  width: 90%;
  max-height: 700px; }
  @media screen and (max-width: 880px) {
    .swiper-slide {
      width: 92%; } }

.slider__img {
  display: block;
  width: 100%;
  height: auto; }
  @media screen and (max-width: 880px) {
    .slider__img {
      width: auto;
      height: 100%; } }

.slider__content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  max-width: 400px;
  width: 35%;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #fff; }
  @media (min-width: 880px) and (max-width: 1200px) {
    .slider__content {
      width: 50%; } }
  @media screen and (max-width: 880px) {
    .slider__content {
      width: 80%; } }

.slider__content--topTitle {
  margin: 0 0 40px 0; }

.slider__content--wrapLogo {
  width: 50%;
  margin: 0 0 20px 0; }
  .slider__content--wrapLogo > img {
    display: block;
    width: 100%; }

.slider__content--txt {
  margin: 0 0 40px 0; }

.slider__content--link {
  margin: 0 0 20px 0; }
  .slider__content--link:hover {
    font-style: italic; }

.swiper-button-next {
  right: 14%;
  transform: translateX(50%);
  color: #000;
  transition: color 200ms ease-in-out; }
  .swiper-button-next:hover {
    color: #ffcd1a; }
  .swiper-button-next:after {
    font-size: 24px;
    font-weight: 600; }
  @media screen and (max-width: 880px) {
    .swiper-button-next {
      right: 12%; } }

/* ----
// Text infinite
------- */
.txtInfinite {
  background-color: #ffcd1a;
  overflow: hidden; }

.txtInfinite__content {
  margin: 0;
  padding: 40px 0;
  white-space: nowrap;
  animation: txtInfinite 10s linear infinite; }
  @media screen and (max-width: 880px) {
    .txtInfinite__content {
      padding: 30px 0; } }

.txtInfinite__separate {
  margin: 0 14px; }
